.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.authorElement {
  padding: 10px 0;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 5px 0px;
  padding-left: 10px;
  font-size: 16px;
  background-color: white;
}

.textbox {
  width: 300px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px
}

.authorsWrapper {
  width: 100%;
}

.mainWrapper {
  width: 400px;
  margin: 0 auto;
}

.textboxWrapper {
  margin: 5px 0px;
  margin-top: 40px;
  display: flex;
}

.addButton {
  width: 77px;
  border-radius: 5px;
  border: 1px solid #aaa;
  cursor: pointer;
  font-weight: bold;
}

input:focus, button:focus {
  outline: none;
}

input:hover {
  border: 1px solid #02a6c4;
}

button:hover {
  border: 1px solid #02a6c4;
  background-color: #02a6c4;
  color: white;
}

body {
  background-color: #f7f7f7;
}